section.ad,
._3M6FtEB,
._2vNejsc,
[name=header],
.ads_anchor,
.ad-bigbanner,
.ad-footer,
._premium-lead-tag-search-bar,
#header-banner.ad,
.popular-introduction-overlay,
.ad-bigbanner,
.adsbygoogle,
.ui-fixed-container aside,
.ad-multiple_illust_viewer,
.ads_area,
._premium-lead-promotion-banner {
	display: none !important;
	z-index: -999 !important;
	width: 0 !important;
	height: 0 !important;
	opacity: 0 !important;
}

#viewerWarpper {
	margin: 24px auto 15px;
	overflow: hidden;
	background: #fff;
	padding: 0 16px;
	display: none;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

#viewerWarpper ul {
	max-width: 568px;
	margin: 24px auto;
	padding: 0 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	overflow: auto;
}

#viewerWarpper li {
	display: flex;
	flex-shrink: 0;
	margin-right: 8px;
	overflow: hidden;
}

#viewerWarpper li img {
	cursor: pointer;
	max-height: 144px;
	width: auto;
}

.viewer-backdrop {
	background: rgba(0, 0, 0, .8);
}

.viewer-toolbar .viewer-prev {
	background-color: rgba(0, 0, 0, .8);
	border-radius: 50%;
	cursor: pointer;
	height: 100px;
	overflow: hidden;
	position: fixed;
	left: -70px;
	top: 40%;
	width: 100px;
}

.viewer-toolbar .viewer-prev::before {
	top: 40px;
	left: 70px;
	position: absolute;
}

.viewer-toolbar .viewer-next {
	background-color: rgba(0, 0, 0, .8);
	border-radius: 50%;
	cursor: pointer;
	height: 100px;
	overflow: hidden;
	position: fixed;
	right: -70px;
	top: 40%;
	width: 100px;
}

.viewer-toolbar .viewer-next::before {
	left: 10px;
	top: 40px;
	position: absolute;
}

.black-background {
	background: rgba(0, 0, 0, 1);
}

#rightButton {
	position: fixed;
	top: 15%;
	right: 0;
	z-index: 1000;
	line-height: 20px;
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding: 8px;
	box-sizing: content-box;
	background: #BECAD7;
}

#quick_down_btn {
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 1000;
	line-height: 20px;
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding: 8px;
	box-sizing: content-box;
	background: #0096fa;
}

li {
	list-style: none;
}

.centerWrap {
	display: none;
	width: 650px;
	position: fixed;
	left: -350px;
	margin-left: 50%;
	background: #fff;
	top: 3%;
	color: #333;
	z-index: 1000;
	font-size: 14px;
	padding: 25px;
	border-radius: 15px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 25px #2ca6df;
}

.centerWrap p {
	line-height: 24px;
	margin: 0;
}

.centerWrap .tip {
	color: #999;
}

.centerWrap_head {
	height: 30px;
	position: relative;
	padding-bottom: 10px;
}

.centerWrap_head * {
	vertical-align: middle;
}

.centerWrap_title {
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
}

.centerWrap_close,
.centerWrap_toogle_option,
.chrome_extension,
.firefox_extension,
.github_url {
	font-size: 18px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	color: #666;
	user-select: none;
}

.centerWrap_close:hover,
.centerWrap_toogle_option:hover {
	color: #0096fa;
}

.centerWrap_toogle_option {
	right: 40px;
}

.chrome_extension,
.firefox_extension {
	display: block;
	right: 80px;
	text-decoration: none;
}

.github_url {
	display: block;
	right: 120px;
}

.centerWrap_head img {
	max-width: 100%;
	width: 16px;
}

.setinput_style1 {
	width: 50px;
	min-width: 50px;
	line-height: 20px;
	font-size: 14px !important;
	height: 20px;
	text-indent: 4px;
	box-sizing: border-box;
	border: none !important;
	border-bottom: 1px solid #999 !important;
	outline: none;
}

.setinput_style1:focus {
	border-bottom: 1px solid #0096fa !important;
	background: none !important;
}

.fileNameRule,
.folderNameRule {
	min-width: 150px;
}

.setinput_tag {
	min-width: 300px;
}

.showFileNameTip,
.showFileNameResult,
.showFolderNameTip,
.how_to_create_folder {
	cursor: pointer;
}

.fileNameTip,
.folderNameTip {
	display: none;
	padding-top: 5px;
}

.centerWrap_btns {
	padding: 10px 0 0;
	font-size: 0;
}

.centerWrap_btns div {
	display: inline-block;
	min-width: 100px;
	max-width: 105px;
	padding: 8px 10px;
	text-align: center;
	min-height: 20px;
	line-height: 20px;
	color: #fff;
	border-radius: 4px;
	margin-right: 35px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 10px;
	vertical-align: top;
}

.centerWrap_btns_free div {
	max-width: 140px;
	margin-right: 15px;
}

.centerWrap_down_tips {
	line-height: 28px;
}

.download_progress1 {
	position: relative;
}

.right1 {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 22px;
	vertical-align: middle;
}

.progressBar {
	position: absolute;
	background: #6792A2;
	height: 22px;
	border-radius: 11px;
}

.progress {
	background: #0eb3f3;
	height: 22px;
	border-radius: 11px;
	transition: .15s;
}

.progressTip {
	color: #fff;
	position: absolute;
	line-height: 22px;
	font-size: 14px;
}

.progressBar1 {
	width: 500px;
}

.progress1 {
	width: 0%;
}

.progressTip1 {
	width: 500px;
	text-align: center;
}

.centerWrap_down_list {
	display: none;
}

.centerWrap_down_list ul {
	padding-top: 5px;
	margin: 0;
	padding-left: 0;
}

.downloadBar {
	position: relative;
	width: 100%;
	padding: 5px 0;
	height: 22px;
	box-sizing: content-box;
}

.progressBar2 {
	width: 100%;
}

.progress2 {
	width: 0%;
}

.progressTip2 {
	width: 100%;
}

.download_fileName {
	max-width: 60%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	text-indent: 1em;
}

.showDownTip {
	padding-top: 10px;
	cursor: pointer;
	display: inline-block;
}

.download_a {
	display: none;
}

.downTip {
	display: none;
}

.settingNameStyle1 {
	width: 100px;
	cursor: pointer;
	margin-right: 10px;
}

.XZTipEl {
	position: fixed;
	z-index: 1001;
	max-width: 400px;
	left: 0;
	top: 0;
	background: #02a3ec;
	color: #fff;
	padding: 6px 8px;
	border-radius: 5px;
	line-height: 20px;
	word-break: break-word;
	display: none;
	font-size: 14px;
}

.fwb {
	font-weight: bold;
}

.gray1 {
	color: #999;
}

.xz_blue {
	color: #0ea8ef !important;
}

.download_panel {
	display: none;
}

.outputInfoWrap {
	padding: 20px 30px;
	width: 520px;
	background: #fff;
	border-radius: 20px;
	z-index: 9999;
	box-shadow: 0px 0px 15px #2ca6df;
	display: none;
	position: fixed;
	top: 15%;
	margin-left: -300px;
	left: 50%;
}

.outputUrlTitle {
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
	color: #179FDD;
}

.outputInfoContent {
	border: 1px solid #ccc;
	transition: .3s;
	font-size: 14px;
	margin-top: 10px;
	padding: 5px 10px;
	overflow: auto;
	max-height: 400px;
	line-height: 20px;
}

.outputInfoContent::selection {
	background: #179FDD;
	color: #fff;
}

.outputUrlFooter {
	height: 60px;
	text-align: center;
}

.outputUrlClose {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 20px;
	right: 30px;
	z-index: 9999;
	font-size: 18px;
	text-align: center;
}

.outputUrlClose:hover {
	color: #179FDD;
}

.outputUrlCopy {
	height: 34px;
	line-height: 34px;
	min-width: 100px;
	padding: 2px 25px;
	margin-top: 15px;
	background: #179FDD;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	border-radius: 6px;
	cursor: pointer;
}

.fastScreenArea a {
	display: inline-block;
	padding: 10px;
}

#quickBookmarkEl {
	font-size: 34px;
	line-height: 30px;
	margin-right: 15px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
	display: block;
}

#outputInfo {
	background: #fff;
	padding: 10px;
	font-size: 14px;
	margin: 6px auto;
	width: 950px;
}

#down_id_input {
	width: 600px;
	height: 80px;
	font-size: 12px;
	margin: 6px auto;
	background: #fff;
	color: #bbb;
	padding: 7px;
	display: none;
	border: 1px solid #179FDD;
}
.sc-cAJUJo>div>a{
	padding-top: 0;
}